*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Fonts */
  --ff-body: "Barlow Semi Condensed", sans-serif;
  --fs-base: 13px;
  --fs-md: clamp(1.07rem, 0.47vw + 1.02rem, 1.23rem); /* 14px - 16px */
  --fw-medium: 500;
  --fw-semibold: 600;

  /* Spacings */
  --spacing-sm: 1rem;
  --spacing-md: 2rem;

  /* Border Radius */
  --border-radius-sm: 0.61rem; /* 8px */

  /* Shadows */
  --shadow-medium: 26px 46px 20px rgba(0, 0, 0, 0.1);
}
html {
  font-size: var(--fs-base);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding-block: var(--spacing-md);

  background-color: var(--grey-100);
}
.testimonials-grid {
  display: grid;
  place-items: center;
  gap: var(--spacing-md);
  justify-self: center;
}

/* For section title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  width: min(23rem, 90vw);
  padding: var(--spacing-md);

  font-family: var(--ff-body);
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  line-height: 1.4;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-medium);
  z-index: 10;
}
.profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.profile-name,
.highlight-testimonial {
  font-weight: var(--fw-semibold);
}
/* Featured card - Purple background-color */
.card-featured {
  background-color: var(--purple-500);
}
.card-featured .profile-pic {
  border: 2px solid var(--purple-300);
}
.card-featured .profile-name,
.card-featured .highlight-testimonial {
  color: var(--white);
}
.card-featured .profile-status,
.card-featured .testimonial-quote {
  color: var(--grey-200);
}

/* Muted card - Grey background-color */
.card-muted {
  background-color: var(--grey-400);
}
.card-muted .profile-pic {
  border: 2px solid var(--grey-200);
}
.card-muted .profile-name,
.card-muted .highlight-testimonial {
  color: var(--white);
}
.card-muted .profile-status,
.card-muted .testimonial-quote {
  color: var(--grey-200);
}
/* Secondary card - Dark-blue background-color */
.card-secondary {
  background-color: var(--dark-blue);
}
.card-secondary .profile-pic {
  border: 2px solid var(--purple-500);
}
.card-secondary .profile-name,
.card-secondary .highlight-testimonial {
  color: var(--white);
}
.card-secondary .profile-status,
.card-secondary .testimonial-quote {
  color: var(--grey-200);
}
/* Default cards - White background-color */
.card-default {
  background-color: var(--white);
}
.card-default .profile-pic {
  border: 2px solid var(--purple-50);
}
.card-default .profile-name,
.card-default .highlight-testimonial {
  color: var(--grey-500);
}
.card-default .profile-status,
.card-default .testimonial-quote {
  color: var(--grey-400);
}

/* Media queries */
@media (min-width: 48rem) {
  .testimonials-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--spacing-sm);
    place-items: stretch;
    max-width: 58rem;
  }
  .card {
    width: 100%;
  }
  .card-featured {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .card-muted {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .card-default:first-of-type {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .card-secondary {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .card-default:last-of-type {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    height: fit-content;
  }
}
@media (min-width: 75rem) {
  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-md);
    max-width: 91rem;
  }
  .card-featured {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: relative; /* for image quotation */
  }
  .card-muted {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .card-default:first-of-type {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .card-secondary {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .card-default:last-of-type {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    height: auto;
  }
  .card-featured .highlight-testimonial {
    z-index: 2;
  }
  /* Featured card with image quotation */
  .card-featured::after {
    content: "";
    top: 0;
    right: 10%;
    width: 8rem;
    height: 8rem;
    position: absolute;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    z-index: 1;
  }
}
